html {
	font-size: 62.5%;
}

body {
	direction: rtl;
	margin:0;
	font: 1.6rem "Open Sans", sans-serif;
}

h1 {
	font-size: 2.8rem;
}

h2.openning {
	color: #006439;
	border-top: 3px solid #006439;
	border-bottom: 3px solid #006439;
	font-size: 3.2rem;
	width: 380px;
	margin: 10px auto;
}

header {
	position: relative;
	background-color: beige;
}

#logo {
	position: absolute;
	top:10px;
	right: 240px;
}

.main-nav-block {
	background-color: white;
	height: 24px;
	width: 500px;
	border-radius: 10px;
	font-size: 1.2rem;
	margin: 20px auto;
}

.main-nav {
	list-style: none;
	margin: auto 20px;
	line-height: 24px;
}

.main-nav li {
	display: inline;
}

.main-nav li:not(:last-child):after {
	content: "|";
	margin: 0 2px;
	color: grey;
}

.main-nav li a {
	text-decoration: none;
	color: green;
}
	
.main-nav li a:hover {
	text-decoration: underline;
	color: black;
}

.header-image {
	width: auto;
	height: 500px;
	margin: 20px 0;
	background: url("http://lorempixel.com/output/nature-q-c-1600-480-4.jpg") no-repeat 100% 0;
	/*background-attachment: fixed;*/
	background-size: auto 100%;
}

.openning-block {
	padding: 20px 0;
	background-color: white;
}

.about-block {
	background-color: #006439;
	color: white;
	padding: 60px 0;
}

.about {
	width: 700px;
	margin: 20px auto;
	text-align: center;
}

.about h1 {
	border: 2px solid white;
	border-radius: 10px;
	padding: 20px 0;
}

.about p {
	font-size: 20px;
}

